/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    overflow: hidden; /* This will hide any unwanted scrollbars */
}

.container {
    height: 100vh; /* Ensure the main container fits the viewport height */
    overflow-y: auto; /* Enable scrolling for the specific content area */
  }